<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRMS- Admin Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/images/fevicon_logo.jpeg">
    <link rel="stylesheet" href="/style/dashboard.css">
    <link rel="stylesheet" href="/style/adminAllowedDevices.css">
    <script src="https://kit.fontawesome.com/2d11fdd863.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="dashboard-wrapper flex flex-row">
        <div class="dashboard-right">
            <%- include('components/adminSidebar.ejs') %>
        </div>
        <div class="dashboard-left">
            <%- include('components/header.ejs',{name:"Admin Allowed Devices", link:"Employee"}) %>
                <div class="dashboard-data-container flex flex-row">
                    <div class="admin-allowed-devices-container">
                        <div class="admin-allowed-devices-header">
                            <input type="button" value="Add" class="addButton"/>
                        </div>
                        <table class="admin-allowed-devices-table">
                            <tr class="admin-allowed-devices-table-head-tr">
                                <th>ID</th>
                                <th>IP Adress</th>
                                <th>Device Name</th>
                                <!-- <th>Save</th> -->
                                <th>Save / Delete</th>
                            </tr>
                            <% allowedDeviceData.forEach((data)=>{  %>
                                <tr class="admin-allowed-devices-table-body-tr">
                                    <td><%= data.ip_id %></td>
                                    <td><%= data.ip_address %></td>
                                    <td><%= data.ip_device_name %></td>
                                    <td><p onclick="deleteIPaddress(`<%= data.ip_id %>`)">Delete</p></td>
                                </tr>
                            <% }) %>
                        </table>
                    </div>
                </div>
        </div>

    </div>
    <script>
        const trID = document.querySelectorAll('.admin-allowed-devices-table-body-tr')
        let i = trID.length+1
        let trContainer =`
        <tr class="admin-allowed-devices-table-body-tr tr-${i}">
            <td></td>
            <td><input type="text" id="new_ip-address-${i}"></td>
            <td><input type="text" id="new_device-name-${i}"></td>
            <td><p onclick="addIpAddress(${i})">Save</p></td>
        </tr>
       `
       i++;
       async function addIpAddress(i){
            let ipAddress = document.querySelector(`#new_ip-address-${i}`).value
            let deviceName = document.querySelector(`#new_device-name-${i}`).value
            console.log("aaaa",id,ipAddress,deviceName)

        await fetch (`/admin/dashboard/allowed-devices`,{
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                ipAddress,
                deviceName
            })
        })
        location.reload()
       }

       const addButton = document.querySelector('.addButton')
       const tableContainer = document.querySelector('.admin-allowed-devices-table')
       addButton.addEventListener('click', ()=>{
        tableContainer.innerHTML += trContainer
       })

    async function deleteIPaddress(ip_id){
        await fetch (`/admin/dashboard/delete-allowed-devices`,{
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                ip_id
            })
        })
        location.reload()
    }

    </script>
</body>

</html>